<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DebugMapPath" value="Maps"/>
    <add key="DebugTranslationPath" value="../../Data"/>
    <add key="DebugDataPath" value="../../Data"/>

    <add key="ReleaseMapPath" value="Maps"/>
    <add key="ReleaseTranslationPath" value="../../Data"/>
    <add key="ReleaseDataPath" value="../../Data"/>
  </appSettings>
</configuration>